h2.section__title Ожидания от ШРИ
.expectations-blocks
    input(class="expectations-input" type="radio" name="expectations" id="expectations-block-slide1" checked)
    input(class="expectations-input" type="radio" name="expectations" id="expectations-block-slide2")
    input(class="expectations-input" type="radio" name="expectations" id="expectations-block-slide3")
    input(class="expectations-input" type="radio" name="expectations" id="expectations-block-slide4")
    .label-input-pagination.expectations-blocks__pagination-4_horizontal
        label(for="expectations-block-slide1")
        label(for="expectations-block-slide2")
        label(for="expectations-block-slide3")
        label(for="expectations-block-slide4")
    .expectations-blocks__top
        .block-freedom.background_gradient
            h3.expectations-blocks__title Свобода
            p.expectations-blocks__description Разработка медиаплана, анализируя результаты рекламной кампании, нейтрализует эмпирический портрет потребителя.
        .block-equality.background_gradient
            h3.expectations-blocks__title Равенство
            p.expectations-blocks__description Медиапланирование концентрирует пресс-клиппинг
    .expectations-blocks__bottom
        .block-brotherhood.background_gradient
            h3.expectations-blocks__title Братство
            p.expectations-blocks__description Тем не менее, создание приверженного покупателя конструктивно
        .block-placement.background_gradient
            h3.expectations-blocks__title Трудоустройство
            p.expectations-blocks__description Корпоративная культура без оглядки на авторитеты<br> решительно отражает рекламоноситель.
