@import "variables.styl"

html
body
	font-family OpenSansRegular
	font-size 16px
	position relative
body
	overflow-x hidden

*
	margin 0
	color #000
.wrapper
	max-width 1440px
	margin 0 auto
.container
	max-width 950px
	margin 0 auto

@import "../blocks/b-main/b-main.styl"

@import "../blocks/b-expectations/b-expectations.styl"

@import "../blocks/b-jobs/b-jobs.styl"

@import "../blocks/b-contats/b-contacts.styl"

