
@font-face
  font-family OpenSansRegular
  src url(../fonts/OpenSans-Regular.ttf)

mainBgColor = #082841
topGradientColor = rgba(230,240,240,1)
bottomGradientColor = rgba(233,240,230,1)
color-orange = #DD3E18
