doctype html
html
    include ../layouts/head.pug
    body
        .wrapper
            section.main
                include ../blocks/b-main/b-main.pug
            section.expectations
                .container
                    include ../blocks/b-expectations/b-expectations.pug
            section.jobs
                .container
                    include ../blocks/b-jobs/b-jobs.pug
            section.contacts.background_gradient
                .container
                    include ../blocks/b-contats/b-contacts.pug

