h2.section__title Мои работы
.jobs-blocks
    .jobs-block
        .jobs-block__slider
            input(class="jobs-input" type="radio" name="jobs-block1" id="jobs-block1-slide1" checked)
            input(class="jobs-input" type="radio" name="jobs-block1" id="jobs-block1-slide2")
            input(class="jobs-input" type="radio" name="jobs-block1" id="jobs-block1-slide3")
            input(class="jobs-input" type="radio" name="jobs-block1" id="jobs-block1-slide4")
            .label-input-pagination.jobs-block__pagination-4_vertical.jobs-block__pagination-4_horizontal
                label(for="jobs-block1-slide1")
                label(for="jobs-block1-slide2")
                label(for="jobs-block1-slide3")
                label(for="jobs-block1-slide4")
            .jobs-block__slides
                .slide.block1-slide1
                .slide.block1-slide2
                .slide.block1-slide3
                .slide.block1-slide4
        .jobs-block__about
            .jobs-block__about-top
                h3.jobs-block__title Webcom
                a.section-link_orange(href="https://github.com/ikononov94/webcom" target="_blank") ссылка на работу
            .jobs-block__about-bottom
                p.jobs-block__description Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
    .jobs-block-even
        .jobs-block__about
            .jobs-block__about-top
                h3.jobs-block__title Страница интернет-магазина
                a.section-link_orange(href="https://github.com/ikononov94/Anvanto" target="_blank") ссылка на работу
            .jobs-block__about-bottom
                p.jobs-block__description Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
        .jobs-block__slider
            input(class="jobs-input" type="radio" name="jobs-block2" id="jobs-block2-slide1" checked)
            input(class="jobs-input" type="radio" name="jobs-block2" id="jobs-block2-slide2")
            input(class="jobs-input" type="radio" name="jobs-block2" id="jobs-block2-slide3")
            .label-input-pagination.jobs-block-even__pagination-3_vertical.jobs-block-even__pagination-3_horizontal
                label(for="jobs-block2-slide1")
                label(for="jobs-block2-slide2")
                label(for="jobs-block2-slide3")
            .jobs-block__slides
                .slide.block2-slide1
                .slide.block2-slide2
                .slide.block2-slide3
    .jobs-block
        .jobs-block__slider
            input(class="jobs-input" type="radio" name="jobs-block3" id="jobs-block3-slide1" checked)
            input(class="jobs-input" type="radio" name="jobs-block3" id="jobs-block3-slide2")
            .label-input-pagination.jobs-block__pagination-2_vertical.jobs-block__pagination-2_horizontal
                label(for="jobs-block3-slide1")
                label(for="jobs-block3-slide2")
            .jobs-block__slides
                .slide.block3-slide1
                .slide.block3-slide2
        .jobs-block__about
            .jobs-block__about-top
                h3.jobs-block__title Игра в города
                a.section-link_orange(href="##") ссылка на работу
            .jobs-block__about-bottom
                p.jobs-block__description Межзвездная матеpия на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), многопланово перечеркивает ионный хвост.
