h2.section__title Контактная информация
.contacts-block
    .contacts-block__info
        .contacts-block__info-description
            p.contacts__description Я открыт для новых проектов. Вы можете прислать мне для оценки примерное техническое задание или просто описание проекта своими словами.
        .contacts-block__info-social
            p.contacts__social-title Ссылка на мои соцсети:
            ul.social-ul
                li.social-li
                    a.section-link_orange(href="##") Facebook
                li.social-li
                    a.section-link_orange(href="https://vk.com/vanek__xd" target="_blank") ВКонтакте
                li.social-li
                    a.section-link_orange(href="https://github.com/ikononov94" target="_blank") GitHub
                li.social-li
                    a.section-link_orange(href="##") Twitter
    .contacts-block__form
        form.contacts-form
            input.contacts-form__name(type="text" placeholder="Ваше имя")
            input.contacts-form__email(type="email" placeholder="Почтовый ящик")
            textarea.contacts-form__message(placeholder="Сообщение")
            button.contacts-form__file Прикрепить ТЗ
            button.contacts-form__send Отправить